*.sif
*.csv
**/.idea
**/__pycache__/
**/data/
**/eval/privacy_datasets/
**/.DS_Store
**/scratch/
**/experiment_results/
**/.vscode
**/leaf/
**.egg-info
2021**
2022**
2023**
**/.ipynb_checkpoints/
**/my_results/
tmp*
*env_config/
*.jpg
**/workspace.json
organisation_notes/.obsidian/graph.json
**/plotting_env/**
**/assets/
venv-**/**